@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #eb34e5;
  --color-button: #eb34e5;

  --font-primary: "Vonca", sans-serif;
  --font-vonca: "Lato", sans-serif;
  --font-mosteria: "Alan Sans", sans-serif;
}

body,
html {
  @apply min-h-screen w-full overflow-x-hidden scroll-smooth text-sm md:text-base lg:text-lg font-primary;
}
