@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #004fff;
  --color-secondary: #e6d4d4;
  --color-tertiary: #f4edea;
  --color-header: #5da9e9;

  --font-primary: "Lato", sans-serif;
  --font-header: "Montserrat", sans-serif;
  --font-serif: "Playfair Display", serif;
}

body,
html {
  @apply min-h-screen w-full overflow-x-hidden scroll-smooth text-sm md:text-base lg:text-lg font-primary;
}

h1 {
  @apply font-primary;
}

p {
  @apply font-primary  text-gray-700;
}
